<div class="main-wrapper">
  <header class="weather">
    <div class="weather-wrapper">
      <div class="weather__temprature">-8c</div>
      <div class="weather__city">Saint-Petersurg</div>
    </div>
  </header>
  <main class="main-content">
    <h1>Momentum v2.0</h1>
    <div class="date">
      <p class="date__time">19:40</p>
      <p class="date__weekday">Monday</p>
    </div>
    <div class="greetings">
      <p class="greetings__text">Hello, Nikita!</p>
    </div>
    <div class="focus">
      <p class="focus__question">What is your main focus for today?</p>
      <input type="text" name="dayFocus" id="todayFocus" />
    </div>
  </main>
  <footer class="main-footer">
    <div class="bg-description">
      <button>settings</button>
      <p class="bg__info">Ocean view, Miami</p>
    </div>
    <blockquote>"Do that you should", no name author</blockquote>
    <div class="toDo">ToDo</div>
  </footer>
</div>
